{% extends "web.html" %}
{% block title %}Toads Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row g-4">
        <!-- Блок 1 -->
        <div class="col-md-4">
            <div class="p-3 rounded-3 greenInfoCard">
                <h5 class="text-center">Профиль</h5>
                <ul>
                    <li>ID: {{ user.id }}</li>
                    <li>VIP: {{ "Да" if user.is_vip else "Нет" }}</li>
                    <li>Калькулятор: {{ "Включен" if user.is_calculate else "Выключен" }}</li>
                    <li>Оплата активна до: {{ user.paid_until.strftime("%H:%M:%S %d.%m.%Y") }}</li>
                </ul>
            </div>
        </div>

        <!-- Блок 2 -->
        <div class="col-md-4">
            <div class="p-3 rounded-3 greenInfoCard">
                <h5 class="text-center mb-3">Функции</h5>

                {% for task in tasks.tasks %}
                <div class="d-flex justify-content-between align-items-center mb-2 p-2 rounded task-row">

                    <span class="fw-semibold">
                        {{ task.task_type.title }}
                        
                        {% if task.task_type.value == "work" %}
                        <div class="mt-2 p-2 rounded bg-light border">
                            <strong>Работа:</strong>
                            {{ MAPPER_WORK_TOAD.get(task.extra["type"], "Безработный") }}
                        </div>
                        {% endif %}
                    </span>

                    {% if task.turn %}
                        <span class="badge bg-success">Включено</span>
                    {% else %}
                        <span class="badge bg-secondary">Выключено</span>
                    {% endif %}

                </div>

                <div class="text-muted small mb-3 ms-2">
                    ⏱ Следующий запуск:
                    {{ task.next_run.strftime("%H:%M:%S %d.%m.%Y") }}
                </div>
                {% endfor %}
            </div>
        </div>


    </div>
</div>
{% endblock %}